 
<button type="button" class="sidebar-button" (click)="ocultarSidebar()" >
  <mat-icon>menu</mat-icon>
</button>
<div class="sidebar" [class.hidden]="!sidebarVisible">
  <div class="sidebar-header">
    <h2>GeStock</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Inventario</a></li>
    <li><a href="/departamento">Departamentos</a></li>
    <li><a href="/asignacion">Asginaciones</a></li>
    <li><a href="/mantenimiento">Mantenimientos</a></li>
    <li><a href="/historial">Reportes</a></li>
  </ul>
</div>