 
<button type="button" class="sidebar-button" (click)="ocultarSidebar()" >
  <mat-icon>menu</mat-icon>
</button>
<div class="sidebar" [class.hidden]="!sidebarVisible">
  <div class="sidebar-header">
    <h2>GeStock</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/equipos" routerLinkActive="active">Inventario</a></li>
    <li><a routerLink="/departamento" routerLinkActive="active">Departamentos</a></li>
    <li><a routerLink="/asignacion" routerLinkActive="active">Asignaciones</a></li>
    <li><a routerLink="/mantenimiento" routerLinkActive="active">Mantenimientos</a></li>
    <li><a routerLink="/historial" routerLinkActive="active">Reportes</a></li>
  </ul>
  
</div>