 
<button type="button" class="sidebar-button" (click)="ocultarSidebar()" >
  <mat-icon>menu</mat-icon>
</button>
<div class="sidebar" [class.hidden]="!sidebarVisible">
  <div class="sidebar-header">
    <h2>GeStock</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Inventario</a></li>
    <li><a href="#">Departamentos</a></li>
    <li><a href="#">Asginaciones</a></li>
    <li><a href="#">Mantenimientos</a></li>
    <li><a href="#">Reportes</a></li>
  </ul>
</div>