<div class="titulo-contenedor">
  <h2 class="titulo">Inventario de equipos</h2>
  <h3 class="subtitulo">MINAS LA AURORA S.A.S - SEDE ADMINISTRACION</h3>
</div>
  <div class="main-contenedor">
    <div class="contenedor-cards">
      <div class="card">
        <div class="card-icono bg-th">TH</div>
        <h3 class="card-title">TALENTO HUMANO</h3>
        <div class="card-valor">
          <div class="stat">
            <span class="stat-valor">24</span>
            <span class="stat-nombre">Equipos</span>
          </div>
          <div class="stat">
            <span class="stat-valor">18</span>
            <span class="stat-nombre">Activos</span>
          </div>
        </div>
        <div class="card-acciones">
          <button class="btn btn-primary">Ver detalles</button>
          <button class="btn btn-outline">Reportes</button>
        </div>
      </div>
      <div class="card">
        <div class="card-icono bg-sag">SAG</div>
        <h3 class="card-title">SAGRILAFT</h3>
        <div class="card-valor">
          <div class="stat">
            <span class="stat-valor">4</span>
            <span class="stat-nombre">Equipos</span>
          </div>
          <div class="stat">
            <span class="stat-valor">3</span>
            <span class="stat-nombre">Activos</span>
          </div>
        </div>
        <div class="card-acciones">
          <button class="btn btn-primary">Ver detalles</button>
          <button class="btn btn-outline">Reportes</button>
        </div>
      </div>
    </div>
  </div>
