.container {
  display: grid;
  grid-template-columns: 280px 1fr; /* El sidebar ocupa 280px de ancho y el contenido el resto */
  grid-template-rows: 3.75rem 1fr;
  grid-template-areas:
    "sidebar search"
    "sidebar outlet";
  height: 100vh;
  padding-top: 0px;
  transition: grid-template-columns 0.3s ease; /* Transición para el ajuste del grid */
}

.container.sidebar-hidden {
  grid-template-columns: 2rem 1fr; /* El sidebar ocupará 2rem cuando se oculte */
  grid-template-areas:
    "sidebar search"
    "outlet outlet"; /* El sidebar ocupa 2rem, y el contenido se ajusta */
  transition-delay: 0.3s; /* Retraso de 0.3 segundos en la transición */
}

.sidebar {
  background-color: rgb(255, 255, 255);
  grid-area: sidebar;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  transition: width 0.3s ease; /* Transición suave para el ancho */
}

.container.sidebar-hidden .sidebar {
  width: 2rem; /* Ancho mínimo cuando está oculto */
}

.search {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.97) 80%,
    rgba(255, 255, 255, 0.815) 90%,
    rgba(255, 255, 255, 0.368) 100%
  );
  grid-area: search;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.outlet {
  background-color: rgb(255, 255, 255);
  grid-area: outlet;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
