

.container {
  display: grid;
  grid-template-columns: 280px 1fr; 
  grid-template-rows: 3.75rem 1fr;
  grid-template-areas:
  "sidebar search"
  "sidebar outlet";
  height: 100vh;
  padding-top: 0px;
}
.sidebar {
  background-color: rgb(255, 255, 255);
  grid-area: sidebar;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.search {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.97) 80%,
    rgba(255, 255, 255, 0.815) 90%,
    rgba(255, 255, 255, 0.368) 100%
  );
  grid-area: sidebar;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: rgb(0, 0, 0); */
  height: 7vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.outlet {
  background-color: rgb(255, 255, 255);
  grid-area: outlet;
  padding: 10px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
