<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<div>
  <h2>Equipos</h2>
  <div class="mat-wrapper">
    <table mat-table [dataSource]="dataSource" class="demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <!-- Modelo Column -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
      </ng-container>

      <!-- Procesador Column -->
      <ng-container matColumnDef="procesador">
        <th mat-header-cell *matHeaderCellDef>Procesador</th>
        <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
      </ng-container>

      <!-- Memoria Column -->
      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef>Memoria</th>
        <td mat-cell *matCellDef="let element">{{ element.memoria }}</td>
      </ng-container>

      <!-- Tipo Almacenamiento Column -->
      <ng-container matColumnDef="tipoAlmacenamiento">
        <th mat-header-cell *matHeaderCellDef>Tipo Almacenamiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoAlmacenamiento }}
        </td>
      </ng-container>

      <!-- Almacenamiento Column -->
      <ng-container matColumnDef="almacenamiento">
        <th mat-header-cell *matHeaderCellDef>Almacenamiento</th>
        <td mat-cell *matCellDef="let element">{{ element.almacenamiento }}</td>
      </ng-container>

      <!-- Sistema Operativo Column -->
      <ng-container matColumnDef="sistemaOperativo">
        <th mat-header-cell *matHeaderCellDef>Sistema Operativo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sistemaOperativo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
<!-- 
<div>
  <h3>Click Log</h3>
</div>

<div *ngIf="!clickedRows.size">
  <div>Clicked rows will be logged here</div>
</div>

<ul>
  <li *ngFor="let clickedRow of clickedRows;">
    Clicked on {{ clickedRow.nombre }}
  </li>
</ul> -->
