.contenedor_primario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  width: 68%;
  margin: 1rem 2rem;
}

.step {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 6px 12px;
  color: #9e9e9e;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}

.step .circle {
  background-color: white;
  color: #9e9e9e;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  font-weight: 600;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.step.active,
.step.completed {
  background-color: #f44336; /* rojo */
  color: white;
}

.step.active .circle,
.step.completed .circle {
  color: #f44336;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.line.completed {
  background-color: #f44336;
}

.contedor_principal {
  width: 98%;
}
.cabecero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid rgba(128, 128, 128, 0.11);
  box-shadow: 1px 2px 10px 2px rgba(87, 0, 0, 0.094);
  border-radius: 10px;
}
.titulo {
  padding: 0.6rem;
  margin: 0px;
  color: #585858;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.tituloSinPadding {
  padding: 0.6rem 0 0.6rem 0.6rem;
  margin: 0px;
  width: 99%;
  color: #585858;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.cards {
  display: flex;
  width: 100%;
  height: 30dvh;

  border-top: 1px solid rgba(128, 128, 128, 0.315);
  padding: 20px 0px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  padding: 0 20px;
  background-color: #eaeaea;
  border-radius: 10px;
  height: 10rem;
  box-shadow: 1px 2px 5px 1px rgba(19, 2, 2, 0.233);
  transition: background-color 0.3s ease-out, padding 0.3s ease-out,
    box-shadow 0.3s ease-out, transform 0.3s ease-out;
}
.selected_card {
  background-color: white;
  transform: scale(1.1);
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.card h1 {
  font-size: 15px;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 50px;
  color: #d8d8d8;
  height: 50px;
  margin-bottom: 30px;
  border: 1px solid rgba(128, 128, 128, 0.493);
}

.icono {
  position: relative;
  left: 1rem;
  bottom: 3.5rem;
  color: #9c9c9c;
}

.selected_icon {
  color: var(--rojo-principal);
}

.informacion_general {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.11);
  box-shadow: 1px 2px 10px 2px rgba(87, 0, 0, 0.094);
  border-radius: 10px;
}
.especificaciones {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.11);
  box-shadow: 1px 2px 10px 2px rgba(87, 0, 0, 0.094);
  border-radius: 10px;

}
.espec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.especificaciones_tecnicas {
  width: 100%;
}

.contenedor_pregunta,
label {
  color: #585858;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 5px;
}
input {
  border-radius: 10px;
  height: 30px;
  border: 1px solid rgba(170, 170, 170, 0.164);
  box-shadow: 1px 2px 5px 2px rgba(158, 158, 158, 0.094);
}
.formulario1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1rem;
}
.switch_lincencia{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.formulario2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.contenedor_pregunta {
  display: flex;
  flex-direction: column;
}

.boton_agregar,
.boton_ram {
  background: var(--rojo-principal);
  color: white;
  border-radius: 10px;
  border: rgba(128, 128, 128, 0.212);
  width: 10%;
  height: 5vh;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.seccion_ram {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr) auto;
  gap: 0.8rem;
  padding-top: 1rem;
  width: 100%;
}
.seccion_disc {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, minmax(5rem, 1fr)) auto;
  gap: 0.8rem;
  padding-top: 1rem;
  width: 100%;
   box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  overflow: hidden;
}
.especificaciones_ram {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  gap: 1px;
  padding-top: 1rem;
}
.estado {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #585858;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--rojo-principal);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Estilos para los botones */
.arrow-button {
  position: absolute;
  bottom: 20px;
  padding: 10px;
  border: none;
  background-color: var(--rojo-principal);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.075);
  cursor: pointer;
}
.arrow-button:hover {
  transform: scale(1.1);
  transition: scale 0.3s ease-in-out;
}

.arrow-button.left {
  right: 70px;
}

.arrow-button.right {
  right: 20px;
}

/* Ajustar el tamaño de los botones de icono */
button.mat-icon-button {
  font-size: 24px;
}

.arrow-button.left {
  margin-right: 10px;
}

.delete_list {
  display: flex;
  height: 60%;
  padding-top: 50%;

}
.delete_list button{
    background-color: var(--rojo-principal);
  color: white;
  border: 1px solid rgba(70, 70, 70, 0.1);
  border-radius: 10px;
}
.delete_list button:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}

h4{
  color: #585858;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);

}

.btn_guardar{
  background-color: var(--rojo-principal);
  color: white;
  border: 1px solid rgba(70, 70, 70, 0.1);
  border-radius: 10px;
  height: 2.5rem;
  font-size: medium;

}

.btn_guardar:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.guardar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}