
body {
  margin: 0 auto;
  padding: 0;
  left: 0;
  top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body { height: 100%; }

:root {
  --rojo-principal: rgb(212, 48, 26);
  --rojo-secundario: #aa0000;
  --gris: #474747;
  
}